[Unit]
Description=Sync but do not install Pacman Files
After=network.target

[Service]
Type=oneshot

IOSchedulingClass=idle
CPUSchedulingPolicy=idle

ExecStart=/usr/bin/checkupdates --download
