[Unit]
Description=Sync but do not install Pacman Files

[Timer]
OnCalendar=hourly
AccuracySec=10m
# Persist timer over reboots
Persistent=true

[Install]
WantedBy=multi-user.target
